<section class="carousel">
  <h2 class="carousel-heading" style="color: {{ heading.text_color }};">
    {{ heading.heading_text  }}
  </h2>
  {% if env_bookshop_live %}
    <swiper-container>
      {% assign firstSlide = slides.first %}
      <swiper-slide class="carousel-slide" style="background-color: {{ firstSlide.background_color }};">
        <h3 class="slide-heading" style="color: {{ firstSlide.slide_content.slide_heading.text_color }};">
          {{ firstSlide.slide_content.slide_heading.heading_text }}
        </h3>
        <div class="markdown-text" style="color: {{ firstSlide.slide_content.text.text_color }};">
          {{ firstSlide.slide_content.text.markdown_content | renderContent }}
        </div>
      </swiper-slide>
    </swiper-container>
  {% else %}
    <swiper-container>
      {% for slide in slides %}
        {% assign slideContent = slide.slide_content %}
        <swiper-slide class="carousel-slide" style="background-color: {{ slide.background_color }};">
          <h3 class="slide-heading" style="color: {{ slideContent.slide_heading.text_color }};">
            {{ slideContent.slide_heading.heading_text }}
          </h3>
          <div class="markdown-text" style="color: {{ slideContent.text.text_color }};">
            {{ slideContent.text.markdown_content | renderContent }}
          </div>
        </swiper-slide>
      {% endfor %}
    </swiper-container>


    <script>
      // swiper element
      const swiperEl = document.querySelector('swiper-container');

      // swiper parameters
      const swiperParams = {
        slidesPerView: 1,
        loop: true,
      };

      // now we need to assign all parameters to Swiper element
      Object.assign(swiperEl, swiperParams);

      // and now initialize it
      swiperEl.initialize();
    </script>
  {% endif %}
</section>

